@import url('https://fonts.googleapis.com/css?family=Alegreya+Sans|Fjalla+One');

font-family: 'Fjalla One', sans-serif;
font-family: 'Alegreya Sans', sans-serif;



*{margin: 0;padding: 0;}
body{
   
    
}
/*Encabezado*/

header{
    clear:both;
    /*background: grey;*/
}

h1{
    width: 90%;
    /*background: pink;*/
    float:right;
    margin-top:2%;
    font-family: 'Fjalla One', sans-serif;
    text-align: center;
}


img{width: 10%;
    height: 10%;
    background: black;
}



/*Articulos*/

section{
    
}

div{
   
    margin: 2%;
    padding: 1%
}
#uno{
    /*background: 	#66ff8c;*/
   float:right;
   width: 30%;
   
    

}
#dos{
    /*background: 	#668cff;*/
    
   
    

}
#tres{
    /*background: #66ffff;*/
    
    
    
}

h4{
    border-bottom: solid black 2px;
    margin-bottom: 1em;
    padding-bottom: 0.5em;
}

p{
    font-family: 'Alegreya Sans', sans-serif;
    text-align: justify;
}