/*fuentes*/

@import url('https://fonts.googleapis.com/css?family=Cutive+Mono|Julius+Sans+One');

/*
font-family: 'Julius Sans One', sans-serif;
font-family: 'Cutive Mono', monospace;

*/




*{
    -webkit-box-sizing: border-box;
    }


body{
   
    background:black;

}    


header{
    

}

h1{
    font-size: 4em;
    color:white;
    font-family: 'Julius Sans One', sans-serif; 
    text-align: center; 
}
section{
    width: 60%;
    margin: auto;
    
}
div{
text-align: center;
    
}

img{
    border-radius: 10%;
}

p{
    font-family: 'Cutive Mono', monospace;
    font-size: 1em;
    margin: 5%;
    color: white;
}

p#dos{
    margin: 5% 10%;
    border:2px solid yellowgreen;
    padding: 5% 10%;
    color:white;
    background:#595959;
}

p#pie{
    width: 100%;
    margin: auto;
    text-align: center;
}
small{
    color:yellowgreen;
}
