/*fuentes*/

@import url('https://fonts.googleapis.com/css?family=Cutive+Mono|Julius+Sans+One');

/*
font-family: 'Julius Sans One', sans-serif;
font-family: 'Cutive Mono', monospace;

*/




*{
    -webkit-box-sizing: border-box;
    }


body{

}    


header{

}

div{
    
}