@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300|Shadows+Into+Light');
@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import url('https://fonts.googleapis.com/css?family=Cutive+Mono');
/*font-family: 'Open Sans Condensed', sans-serif;
font-family: 'Shadows Into Light', cursive;*/
/*font-family: 'Open Sans', sans-serif;*/
/*font-family: 'Cutive Mono', monospace;*/


/*Fondo**********************************************************************************************/
html{
     /*background:linear-gradient(white,#00cc9c);*/
    background:url("../images/dragon.png")no-repeat top right ,linear-gradient(white,#e6e6e6,#336699); ;
    
    
}


/*Estilo que que aplica a todo**************************************************************/
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Body******************************************************************************************/
body{
    margin:50px;
}


/*Cabecera***************************************************************************************/
header,article{
    /*background: violet;*/
    
    padding: 5%;
}

h1{
    /*background: teal;*/
    font-size: 4em;
    font-family: 'Shadows Into Light', cursive;
    text-align: center;
    border-bottom: black solid 2px;
    margin-bottom:2%;
}

#imagendatos{
    background: url("../images/imagen3.jpg") no-repeat;
    width: 100%;
    height:300px;
    float:left;
    margin-bottom: 2%; 
    z-index:-3;
}

table{
    text-align: left;
    background:rgba(255,255,255, 0.5);
    font-family: 'Open Sans Condensed', sans-serif;
}




#datos{
    float:right;
    }




td,th{
    padding: 0.5em;
}

/*Articulos**************************************************************************************************/

p{
    padding: 6%;
    text-align: justify;
    font-family: 'Open Sans', sans-serif;
    
    
}



.verde{
    color:#0d1a26;
    font-weight: bold;
}
section#uno{
    /*background: pink;*/
    float:left;
    width: 45%;

}

section#dos{
    /*background: grey;*/
    float:left;
    width: 45%;
    margin-left: 3%;
    border-left:black solid 3px; 
    

}
figure{
   border: white solid 0.2em;
    padding: 1em;
    width: 30%;
    float: left;
    margin:2em; 
}
img{
    width: 100%;
}

figcaption{
    font-size: 0.2 em;
    text-align: right;
    
}

em{
    color:#336699;
}
/*Pie**********************************************************************************************/

footer{
    font-family:'Cutive Mono', monospace;
    font-size: 1.4em;
    width: 60%;
    margin: 0 auto;
    clear:both;
    text-align: center;
    padding: 1em;
    color:white;
    border-top:0.1em black solid;

}